#margin {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-weight: 100%;
  text-align: center;
 

}

.content {
   width: 100vw;
  height: 600px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

}

.content .images {
  display: block;
  height: 100%;
  width: 100%;
 
}

div .img_container {
  font-weight:500px;
  display: block;
}


.images img {
  height: 100%;
  width: 100%;
     object-fit:contain;
  object-position: center;
}

.content:hover  .slide {
  background-color: rgba(255, 255, 255, 0.3);
   position: absolute;
  top: 50%;
  transform: translateY(-50);
  border: 2px solid white;
  height: 45px;
width: 45px;
cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;;
}

.slide span {
  font-size: 35px;
  color: white;
  line-height: 41px;
}

.content .right {
  right: 0;
}
